/* Global styles */

ul {
    /* So lists don't stick out to the left. This is a non-ideal hack as it overwrites CSS. */
    margin-left: 2.5em;
}

ol {
    /* So lists don't stick out to the left. This is a non-ideal hack as it overwrites CSS. */
    margin-left: 2.5em;
}

li {
    margin-bottom: 0;
}

a {
    color: #ff3f00;
}

body {
    /* Make all text justified on the page. This might be too broad, p and li might be enough. */
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    /*
    All text is justified on the page, don't make it so in headers. If this is not specified then
    header that wrap to the next line could get too choppy when justified.
    */
    text-align: start;
}