# Ignore macOS Finder files
.DS_Store

# Webstorm IDe settings folder
.idea/

# Other various items relating to Node, Yarn & NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
/.next/
/out/
/build
