---
layout: layout.njk
---

{#
  A template for a blog post page. Expects front matter:
    title: post title, also used in the <title> tag by layout.njk
    dateDisplay: human readable publish date, for example "June 10, 2024"
    metaDescription: SEO description, validated to be 50-160 characters
    sourceFile: repo relative path to the source, links to GitHub history
#}
{%- set metaDescriptionChecked = metaDescription | validateMetaDescription(title, dateDisplay) -%}

<h1>{{ title }}</h1>
{% if dateDisplay -%}
  <p style="display: block; margin-top: -1em; margin-bottom: 1.5em">
    {{ dateDisplay }}
  </p>
{%- endif %}

<div>{{ content | safe }}</div>

{% if sourceFile -%}
  <p style="text-align: center; margin-top: 5em">
    <a href="https://github.com/jonrh/jonrh.is/blob/main/{{ sourceFile }}"
      >History &amp; source</a
    >
  </p>
{%- endif %}
